* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.all {
    flex-grow: 1;
}

.header {
    background: #213B7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.image1 {
    margin-left: 16px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}

.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 28px 18px;
    display: block;


}

.menu_list {
    width: 113px;

}

.menu_link_active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;

}

.button {
    width: 153px;
    height: 50px;
    background: #EA5D21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    margin-right: 16px;

}

.content {
    max-width: 911px;
    width: 100%;
    margin: 0 auto 247px;

}

.title {
    margin-top: 33px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.content__info {

    display: flex;
    justify-content: space-between;
}

.content_section {
    width: 634px;
}

.subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.about_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.detail {
    color: #CF5510;
}


.heading {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #646464;
    width: 129px;
    height: 90px;
    margin-top: 53px;
}

.footer {
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    background-color: #213B7E;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}

.work_centr {
    color: rgba(255, 255, 255, 0.5);
}

/* .about */
.content_about {
    margin-left: 500px;
    margin-bottom: 420px;
}

.heading_one {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 33px;
    margin-bottom: 25px;
}

.info {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 15px;

}

.video_img {
    width: 820px;
    height: 549.33px;

}

/* .students */

.content_students {
    max-width: 1202px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 420px;
}

.heading_students {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
}


.student_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}

.student {
    width: 200px;
    position: relative;

}

.student_new {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    position: absolute;
    top: -12px;
    right: -13px;
    padding: 3px 3px 1px 6px;
    text-transform: uppercase;
}

.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

/* .contacts */
.content_contacts {
    max-width: 1268px;
    width: 100%;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 420px;

}

.heading_contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 25px;
    margin-left: 286px;

}

.map {
    width: 1268px;
    height: 370px;
}

.info_contacts {
    margin-left: 288px;
    max-width: 439px;
    width: 100%;
}

.our_contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-top: 15px;
    letter-spacing: 0em;
}

.adress_info {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 10px;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media screen and (max-width: 1024px) {

    /* стили для планшета */
    .header {
        padding-left: 10px;
        padding-right: 72px;
        max-width: 900px;
        width: 100%;

    }

    .button {
        margin-right: 45px;
    }

    .menu_link {
        font-size: 18px;
        padding: 20px 14px;

    }

    .content {
        max-width: 736px;
        width: 100%;

    }

    .content_about {
        text-align: center;
        margin-left: 0;
    }

    .content_section {
        width: 80%;
    }

    .content_students {
        max-width: 736px;
        width: 100%;
        margin: auto;
        margin-bottom: 420px;
    }

    .video_img {
        width: 600px;
    }

    .map {
        width: 950px;
        height: 370px;

    }

    .map_contacts {
        text-align: center;
    }
}




@media screen and (max-width: 768px) {
    .header {
        max-width: 650px;
        width: 100%;
        padding-left: 0px;
    }

    .logo {
        margin-right: 10px;
    }

    .menu {
        margin-left: 10px;
        gap: 10px;
    }

    .menu_link {
        text-align: center;
        font-size: 14px;
        padding: 20px 0;
    }

    .menu_link_active {
        padding: 20px 0;
    }

    .button {
        font-size: 13px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .menu_list {
        width: 60px;
    }

    .content__info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;

    }

    .title {
        text-align: center;
    }

    .heading_students {
        text-align: center;
    }

    .students {
        justify-content: center;
    }

    .video_img {
        width: 500px;
        height: 350px
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .map {
        width: 400px;
        height: 300px;
        gap: 40px;

    }

    .map_contacts {

        margin-left: 56px;
    }

    .heading_contacts {
        margin-left: 0;
        text-align: center;

    }

    .info_contacts {
        margin-left: 150px;
        margin-right: 0px;
    }

    .content_contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .footer {
        min-width: 430px;
    }
}