* {
    margin: 0;
    padding: 0;
}

.header__menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}

@media screen and (max-width: 768px) {
    .header__menu {
        align-items: center;
        gap: 14px;

    }
}