* {
    margin: 0;
    padding: 0;
}

.main__content-info {

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .main__content-info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;


    }
}

@media screen and (max-width: 360px) {
    .main__content-info {
        max-width: 350px;
    }
}