* {
    margin: 0;
    padding: 0;
}

.section__password2 {
    width: 444px;
    height: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding-left: 10px;
}

@media screen and (max-width: 1024px) {
    .section__password2 {
        width: 250px;
        height: 40px;
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .section__password2 {
        width: 165px;
        max-height: 25px;
        font-size: 16px;
    }
}