* {
    margin: 0;
    padding: 0;
}

.main__heading-one {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 33px;
    margin-bottom: 25px;
}