* {
    margin: 0;
    padding: 0;
}

.header {
    background: #213B7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-left: 10px;
        padding-right: 72px;
        max-width: 900px;
        width: 100%;

    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 650px;
        width: 100%;
        padding-left: 0px;
    }
}