* {
    margin: 0;
    padding: 0;
}

.main__heading {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #646464;
    width: 129px;
    height: 90px;
    margin-top: 53px;
}

@media screen and (max-width: 360px) {
    .main__heading {
        max-width: 350px;
        margin-left: 80px;
    }
}