* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .section__password {
        margin-left: 2px;
    }
}

@media screen and (max-width: 360px) {
    .section__password {
        /* margin-left: 2px; */
        width: 10px;
    }
}